.btn-auric
{
    background-color:#C9A66D;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.btn-auric:hover
{
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    color: #C9A66D;
    border-color: #C9A66D;
}

.di-auric
{
    font-family: 'Open Sans', sans-serif;
    color: #C9A66D;
}

.di-auric:hover
{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color:#C9A66D;
    
}

.pau
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    
}

.h3au
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 100px; 
}


.btn-aaa
{
    border-color: white;
    color: white;
}

.btn-aaa:hover
{
    background-color:white;
    color: #C9A66D;
}








